{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'app_home/img/logo-icon.ico' %}">
    <link rel="stylesheet" href="{% static 'app_home/css/style.css' %}">
    <title>Pizzaria ZMais | {% block title %}{% endblock title %}</title>
</head>

<body>
    {% include "app_home/partials/header.html" %}

    {% block content %}{% endblock content %}

    {% include "app_home/partials/footer.html" %}
</body>
</html>