* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,a,span,h1,h2,h3,h4,h5,h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #fdf5e8;
}

header {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c41a30;
    height: 100px;
    padding: 0 32px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu li a {
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    position: relative;
    padding-bottom: 6px;
}

.menu li a:hover {
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.menu li a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 0;
    height: 2px;
    background-color: #ffae00; 
    transition: width 0.3s ease;
}

.menu li a:hover::after {
    width: 42px; 
}

.menu .logo {
    width: 90px;
    border-radius: 100%;
}

.menu > span {
    color: #ffae00;
    font-size: 1.2rem;
    font-weight: bold;
}

main {
    margin: 0 auto;
    max-width: 1024px;
}

header > .admin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffae00;
    height: 65px;
    gap: 10px;
}

header > .admin a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

header > .admin a:hover {
    color: #ffffff;
    background-color: #c41a30;    
}

.cardapio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px 10px;
}

.cardapio-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #c41a30;
    color: #fff;
}

.cardapio-item img {
    width: 181px;
}


.cardapio-item h3 {
    font-size: 1.3rem;
    color: #fff;
}

.cardapio-item p {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.cardapio-item span {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.cardapio-item a {
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 9999px;
    color: #c41a30;
    font-weight: bold;
}

.cardapio-item a:hover {
    background-color: #ffae00;
}

.carrinho {
    position: relative;
}

.carrinho-quantidade {
    position: absolute;
    top: -25px;
    right: -10px;
    background-color: #fff;
    color: #c41a30;
    padding: 3px 8px;
    border-radius: 100%;
    font-size: 1rem;
    font-weight: bold;
}