{% load static %}
<header>
    <nav class="menu">
        <img class="logo" src="{% static 'global/img/logo-sem-fundo.png' %}">
        <ul>
            <li><a href="{% url 'home' %}">Cardápio</a></li>
            <li><a href="#">Promoções</a></li>
            <li class="carrinho"><a href="{% url 'comprar_carrinho_pizza' %}">Carrinho</a> {% if request.session.quantidade_pizzas %}<span class="carrinho-quantidade">{{ request.session.quantidade_pizzas }}</span> {% endif %}</li>
            <li><a href="#">Contato</a></li>
        </ul>
        <span>(48) 9999-9999</span>
    </nav>
    {% if request.user.is_authenticated %}
    <div class="admin">
        <a href="{% url 'pizza' %}">Criar Pizza</a>
        <a href="{% url 'listar' %}">Listar Pizza</a>
    </div>
    {% endif %}

</header>