{% extends "global/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<main>
    <div class="busca">
        <form action="{% url 'home' %}" method="get">
            <input type="text" name="busca" placeholder="Buscar Pizza">
            <button type="submit">Buscar</button>
        </form>
        {% if pesquisa %}
            <span>{{ pesquisa }} <a href="{% url 'home' %}">X</a></span>
        {% endif %}
    </div>
    <div class="cardapio">
        {% for pizza in produtos %}
        <div class="cardapio-item">
            <img src="{{ pizza.imagem }}">
            <h3>{{ pizza.pizza }}</h3>
            <p>{{ pizza.ingredientes }}</p>
            <span>R${{ pizza.preco }}</span>
            <a href="{% url 'carrinho_pizza' pizza.id %}">Adicionar no carrinho</a>
        </div>
        {% endfor %}

    </div>
</main>
{% endblock content %}