{% extends "app_home/global/index.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<main>
    <div class="cardapio">
        {% for pizza in produtos %}
        <div class="cardapio-item">
            <img src="{{ pizza.imagem }}">
            <h3>{{ pizza.pizza }}</h3>
            <p>{{ pizza.ingredientes }}</p>
            <span>R${{ pizza.preco }}</span>
            <a href="{% url 'carrinho_pizza' pizza.id %}">Adicionar no carrinho</a>
        </div>
        {% endfor %}

    </div>
</main>
{% endblock content %}