{% extends "global/base.html" %}

{% block title %}Carrinho{% endblock title %}

{% block content %}
<main>
    <h1>Listar Carrinho</h1>
    <ul>

        {% for pizza in pizzas %}
        <li>
            <p>{{ pizza.pizza }} - {{ pizza.preco }} - {{ pizza.ingredientes }}</p>
        </li>
        {% empty %}
        <li>
            <p>Seu carrinho esta vazio</p>
        </li>
        {% endfor %}
    </ul>
    {% if pizzas %}
        <span><a href="{% url 'limpar_carrinho_pizza' %}">Limpar carrinho</a> - <a href="{% url 'finalizar_carrinho_pizza' %}">Comprar</a></span>
    {% endif %}
</main>
{% endblock content %}