{% extends "global/base.html" %}

{% block title %}Criar Pizza{% endblock title %}

{% block content %}
<main>
    <h1>Listar Pizza</h1>
    <ul>

        {% for pizza in pizzas %}
        <li>
            <p>{{ pizza.pizza }} - {{ pizza.preco }} - {{ pizza.ingredientes }} | <button class="btn btn-danger" onclick="RemoverItem('{% url 'deletar_pizza' pizza.id %}')" >Remover pizza</button> - <a class="btn btn-primary" href="{% url 'atualizar_pizza' pizza.id %}">Atualizar pizza</a></p>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}