{% extends "app_home/global/index.html" %}

{% block title %}Criar Pizza{% endblock title %}

{% block content %}
<main>
    <h1>Criar Pizza</h1>
    <form action="{% url 'pizza' %}" method="post">
        {% csrf_token %}
        <input type="text" name="pizza" placeholder="Nome da Pizza">
        <input type="text" name="preco" placeholder="Preco da Pizza">
        <input type="text" name="imagem" placeholder="Imagem da Pizza">
        <input type="text" name="ingredientes" placeholder="Ingredientes da Pizza">
        <button type="submit">Criar</button>
    </form>
    {% if pizza.pizza %}
        <ul> 
            <li>A Pizza "{{ pizza.pizza }}" foi criada com sucesso!</li>  
        </ul>
    {% endif %}
</main>
{% endblock content %}